@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* -------------------------menu ------------------------ */
.container{
    width: 100%;
    background: #AEB9D9;
    padding-top:70px ;
    
}
.home-menu{
    display: flex;
    padding: 5px;
    background-color:rgba(17,53,139,0.77);
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 0px 45px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.home-menu-logo{
    display: flex;
    align-items: center;
    position: absolute;
    color: #FFFCFC;
    font-weight: 500;
}
.home-menu-logo img{
    position: relative;
    top: 3px;
    width: 24%;
}

.home-menu-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-left: 350px;
}

.home-menu-btn li{
    display: inline-block;
    
}

.home-menu-btn li a{
    color: #FFFCFC;
    text-decoration: none;
    display:  block ;
    padding: 15px;
    border-radius: 25px;

}


.home-menu-btn li a:hover{
    background-color: #F29036;
    color: #050505;
}

.home-menu-register{
    display: flex;
    width: 350px;
    justify-content: space-around;
    margin-right: 30px;
    align-items: center;
    color: #fff;
}

.home-menu-register .far {
    font-size: 18px;
    color: #fff;
}

.home-menu-register .avatar-name{
    display: flex;
    align-items: center;
}

.home-menu-register .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.home-menu-register .avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.home-menu-register .pop-up-menu{
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-color: #e2e4e9;
    text-align: center;
    line-height: 30px;
    color: #050505;
    font-size: 19px;
    cursor: pointer;
    position: relative;
}

.pop-up-submenu{
    width: 300px;
    position: absolute;
    right: 25%;
    top: 130%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #272626;
    display: none;
}

.pop-up-submenu.active{
    display: block;
}

.pop-up-submenu ul{
    list-style: none;
    text-align: left;
}

.pop-up-submenu ul li{
    padding: 10px 0;
}

.pop-up-submenu .fas{
   margin-right: 10px;
}

.pop-up-submenu span{
    font-size: 16px;
    font-weight: 500;
}
/* -------------------------form-create ------------------------ */


.form-create{
    max-width: 1161px;
    margin: 0px auto;
}


.form-create-bg{
    width: 100%;
    height: 381px;
    background-image: url('../img/bg_team.png');
    background-size: contain;
    background-position: center;
    position: relative;
}

#changeBg-btn{
    position: absolute;
    padding: 10px 15px;
    border: none;
    outline:none;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    background-color: #FFFDFD;
    border-radius: 5px;
    cursor: pointer;
    
}


.form-create-detail{
    padding: 85px;
    background-color: #FFFDFD;
}

.form-create-detail-title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.form-create-fields{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.form-create-img{
    width: 245px;
    height: 245px;
    background: #C4C4C4;
    margin-bottom: 50px;
    position: relative;
}

.form-create-img h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.form-create-inputs{

    margin-right: 30px;
}

.form-create input, select{
    width: 595px;
    height: 46px;
    border:1px solid #000;
    border-radius:5px;
    margin-bottom: 37px;
    outline: none;
    font-size: 25px;
}

.form-create label{
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
}

.form-create textarea{
    border: 1px solid #000;
    width: 595px;
    outline: none;
}

#submit-form{
    display: block;
    margin: 30px auto;
    width: 150px;
    height: 80px;
    background: #1F720B;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}