body{
    background-color: rgba(50, 104, 50);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 36px;
}

#all {
    width: 100%;
    margin-top: 90px;
    display: inline-flex;
    justify-content: space-between;
}

#content{
    min-width: 800px;
    /* margin-top: 90px; */
    background-color: #A3D297;
    /* margin-left: calc((100% - 800px)/2);
    margin-right: calc((100% - 800px)/2); */
    border-radius: 12px;
    display: inline-block;
}

@media screen and (max-width: 1200px){
    #goal1 .out--line {
        display: none;
    }
    #goal1 .in--line {
        display: none;
    }
    #goal1 .circle {
        display: none;
    }

    #goal2 .out--line {
        display: none;
    }
    #goal2 .in--line {
        display: none;
    }
    #goal2 .circle {
        display: none;
    }
}

#goal1 {
    width: 180px;
    height: 380px;
    margin-top: 100px;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

#goal1 .out--line {
    width: 150px;
    height: 376px;
    border: 2px solid white;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    background-color: rgba(50, 104, 50);
}

#goal1 .in--line {
    width: calc(150px * 0.7);
    height: 270px;
    border: 2px solid white;
    position: absolute;
    z-index: 3;
    margin-top: calc((376px - 270px)/2);
}

#goal1 .circle {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 70px;
    position: absolute;
    margin-top: calc((376px - 70px)/2);
    right: 0;
    z-index: 1;
}

#goal2 {
    width: 180px;
    height: 380px;
    margin-top: 100px;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

#goal2 .out--line {
    width: 150px;
    height: 376px;
    border: 2px solid white;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    background-color: rgba(50, 104, 50);
    right: 0;
}

#goal2 .in--line {
    width: calc(150px * 0.7);
    height: 270px;
    border: 2px solid white;
    position: absolute;
    z-index: 3;
    margin-top: calc((376px - 270px)/2);
    right: 0;
}

#goal2 .circle {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 70px;
    position: absolute;
    margin-top: calc((376px - 70px)/2);
    /* margin-left: calc((180px - 80px)); */
    z-index: 1;
    left: 0;
    
}

#content .content__heading {
    width: 100%;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 24px 0;
}

#content .content__logo {
    width: 100%;
    padding: 0 calc((100% - 161px)/2);
    box-sizing: border-box;
}

#content .content__login {
    width: 469px;
    margin: 0 calc((100% - 469px) / 2);
}

#content .login__item {
    margin: 16px 0;
}

#content .login--input {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid white;
}

#content .login--label {
    font-size: 16px;
    font-weight: 600;
}

#content .help {
    width: 100%;
    text-align: center;
}

#content .help a {
    color: blue;
}

#content .confirm--btn {
    background-color: #1F720B;
    color: white;
    font-size: 16px;
    width: 120px;
    height: 46px;
    margin: 24px calc((100% - 100px)/2);
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 6px;
}

#content .confirm--btn:hover {
    background-color: #cccccc;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

/*header*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* -------------------------menu ------------------------ */
.home-container{
    width: 100%;
    height: 100vh;
    background-color: #A3D297;
    background-position: center;
    background-size: cover;
}
.home-menu{
    display: flex;
    padding: 17px;
    background-color:#368f20;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 0px 45px;
    position: relative;
    
}
.home-menu-logo{
    display: flex;
    align-items: center;
    position: absolute;
    color: #FFFCFC;
    font-weight: 500;
}
.home-menu-logo img{
    position: relative;
    top: 7px;
}



.home-menu-search {
    width: 359px;
    height: 49px;
    padding: 15px;
    border-radius: 50px;
    font-size: 16px;
    line-height: 1.5;
    color: #525151;
    border: none;
    outline: none;
    margin-left: 400px;

}
.home-menu-btn{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;

}
.home-menu-btn li{
    display: inline-block;
    
}

.home-menu-btn li a{
    color: #FFFCFC;
    text-decoration: none;
    display:  block ;
    padding: 15px;
    border-radius: 25px;
    
}


.home-menu-btn li a:hover{
    background-color: #F29036;
    color: #050505;
}
.home-menu-register button{
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFFCFC;
    font-size: 20px;
    line-height: 1.5;
    padding: 5px 15px;
}

.home-menu-register button:first-child{
    border-right: 1px solid #FFFCFC;
}